p{
    font-family: verdana;
    width: 300px;
}
.title{
    font-weight: bold;
    margin-bottom: 1px;
}
.graytext{
    color: gray;
    margin-top: 0px;
}
button{
    font-family: verdana;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
button:hover{
    opacity: .8;
}