.textbox{
    font-size: large;
    padding-top: 7px;
    padding-right: 100px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-radius: 100px;
    border: none;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.395);
}