.image{
    width: 50px;
    height: 50px;
    border-radius: 300px;
    vertical-align: middle;
}
.textbox{
    font-size: 17px;
    border: none;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 30px;
}
button{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 157, 255);
    border: none;
    border-radius: 36px;
    padding: 9px;
    vertical-align: middle;
    cursor: pointer;
}