p{
    font-family: arial;
}

.border{
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(172, 172, 215);
    padding: 10px;
    width: 300px;
    padding-right: 100px;
    padding-bottom: 10px;
}
button{
    cursor: pointer;
}