.p{
    font-family: arial;
    font-size: small;
    color: rgb(168, 166, 166);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
}
.title{
    font-family: arial;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
}
.box{
    background-color: rgb(40, 38, 38);
    display: inline-block;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}